@import 'libs/normalize';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/animation';
@import 'base/title';


* {
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
html {
    font-size: 10px;
    line-height: 1.3;
}
body {
    position: relative;
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

ul, li {
	list-style: none;
	margin: 0;
	padding-left: 0
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 121rem;
    margin: 0 auto;
    padding: 0 20px;
}

section, .ups {
    margin-bottom: 7rem;
}
footer{
    margin-top: 13rem;
}

.intro, .contact {
    margin-bottom: 0;
}
 
   
@media(max-width: 768px) {
    body {
        font-size: 3.3vw;
    }
    
    .container{
        padding: 0 2rem;
    }
    
}

path{
    stroke: currentColor;
}

@import 'blocks/intro';
@import 'blocks/header';
@import 'blocks/ups';
@import 'blocks/specials';
@import 'blocks/about';
@import 'blocks/menu';
@import 'blocks/contact';
@import 'blocks/footer';





